@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    /* Primary colors */
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --primary-red: 0 79% 38%; /* #AD2320 */
    --primary-black: 0 0% 0%; /* #000000 */
    --primary-gray: 0 0% 38.8%; /* #636363 */
    --primary-white: 0 0% 90%;
    /* secondary colors */
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --dark-gray: 0 0% 51.2%; /* #838383 */
    --lighter-dark-gray: 0 0% 36.9%; /* #5E5E5E */
    --gray: 0 0% 81.2%; /* #CFCFCF */
    --light-gray: 0 0% 96.1%; /* #F5F6FA */
    --green: 168 88% 30.2%; /* #0C9986 */
    --blue: 220 100% 59.3%; /* #4880FF */
    /* others */
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 0 79% 38%; /* #AD2320 */
    --chart-2: 168 88% 30.2%; /* #0C9986 */
    --chart-3: 220 100% 59.3%; /* #4880FF */
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: var(--light-gray);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary-gray);
    --sidebar-primary-foreground: var(--primary-white);
    --sidebar-accent: var(--dark-gray);
    --sidebar-accent-foreground: var(--foreground);
    --sidebar-border: var(--gray);
    --sidebar-ring: var(--blue);
  }
  .dark {
    --background: var(--primary-black);
    --foreground: var(--primary-white);
    --card: var(--lighter-dark-gray);
    --card-foreground: var(--foreground);
    --popover: var(--lighter-dark-gray);
    --popover-foreground: var(--foreground);
    --secondary: var(--lighter-dark-gray);
    --secondary-foreground: var(--foreground);
    --muted: var(--dark-gray);
    --muted-foreground: var(--lighter-dark-gray);
    --accent: var(--blue);
    --accent-foreground: var(--primary-white);
    --destructive: var(--primary-red);
    --destructive-foreground: var(--primary-white);
    --border: var(--lighter-dark-gray);
    --input: var(--lighter-dark-gray);
    --ring: var(--primary-gray);
    --sidebar-background: var(--dark-gray);
    --sidebar-foreground: var(--primary-white);
    --sidebar-primary: var(--primary-gray);
    --sidebar-primary-foreground: var(--primary-white);
    --sidebar-accent: var(--lighter-dark-gray);
    --sidebar-accent-foreground: var(--primary-white);
    --sidebar-border: var(--lighter-dark-gray);
    --sidebar-ring: var(--blue);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
